.input_div {
    display: flex;
    flex-direction: column;
}

.input_div label {
    font-family: "Poppins";
    font-weight: 500;
    margin-bottom: 10px;
}

.input_div input {
    font-size: 14pt;
    padding: 20px 10px;
    outline: none;
    width: 100%;
    border: 1px solid var(--gray-color);
}
